.table_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table{
    align-self: center;
    width: fit-content;
    display: flex;
    border: 2px solid gainsboro;
    border-spacing: 0px;
    margin-left: 70px;
}

td{
    height: 40px;
    width: 40px;
    border: 1px solid gainsboro;
}

.choose{
    display: flex;
    justify-content: center;
    color: dimgray;
    margin-left: 110px;
}
.winner{
    display: flex;
    justify-content: center;
    color: dimgray;
    margin-left: 70px;
}